---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'content.njk'
main__class: main-articles
---

{%- for article in collections.article | reverse -%}
  <li class="flow blog-card">
      <article class="flow">
      <h3>{{ article.data.title }}</h3>
      <img src="{{ article.data.image }}" />
      <p>by <span>{{ article.data.author }}</span> on <span>{{ article.data.date | postDate }}</span></p>
      <p>{{ article.data.description }}</p>
      <a href="{{ article.url }}">Continue reading</a>
    </article>
  </li>
{%- endfor -%}