---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'blogroll.njk'
main__class: main-finance
---

<ul role="list" class="blog-grid">

{%- for finance in collections.finance | reverse -%}
  <li class="flow blog-card">
    <article class="flow" aria-labelledby="{{finance.data.title}}">
      <h3 id="{{finance.data.title}}">{{ finance.data.title }}</h3>
      <img src="{{ finance.data.image }}" alt=""/>
      <p>by <span>{{ finance.data.author }}</span> on <span>{{ finance.data.date | postDate }}</span></p>
      <p>{{ finance.data.description }}</p>
      <a href="{{ finance.url }}">Continue reading</a>
    </article>
  </li>
{%- endfor -%}