---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'blogroll.njk'
main__class: main-operations
---

<ul role="list" class="blog-grid">

{%- for operations in collections.operations | reverse -%}
  <li class="flow blog-card">
    <article class="flow" aria-labelledby="{{operations.data.title}}">
      <h3 id="{{operations.data.title}}">{{ operations.data.title }}</h3>
      <img src="{{ operations.data.image }}" alt=""/>
      <p>by <span>{{ operations.data.author }}</span> on <span>{{ operations.data.date | postDate }}</span></p>
      <p>{{ operations.data.description }}</p>
      <a href="{{ operations.url }}">Continue reading</a>
    </article>
  </li>
{%- endfor -%}