---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'blogroll.njk'
main__class: main-articles
---

<ul role="list" class="blog-grid">

{%- for post in collections.post | reverse -%}
  <li class="flow blog-card">
      <article class="flow" aria-labelledby="{{post.data.title}}">
      <h3 id="{{post.data.title}}">{{ post.data.title }}</h3>
      <img src="{{ post.data.image }}" alt=""/>
      <p>by <span>{{ post.data.author }}</span> on <span>{{ post.data.date | postDate }}</span></p>
      <p>{{ post.data.description }}</p>
      <a href="{{ post.url }}">Continue reading</a>
    </article>
  </li>
{%- endfor -%}