---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'blogroll.njk'
main__class: main-project
---

<ul role="list" class="blog-grid">

{%- for project in collections.project | reverse -%}
  <li class="flow blog-card">
    <article class="flow" aria-labelledby="{{project.data.title}}">
      <h3 id="project.data.title">{{ project.data.title }}</h3>
      <img src="{{ project.data.image }}" alt=""/>
      <p>by <span>{{ project.data.author }}</span> on <span>{{ project.data.date | postDate }}</span></p>
      <p>{{ project.data.description }}</p>
      <a href="{{ project.url }}">Continue reading</a>
    </article>
  </li>
{%- endfor -%}