---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'blogroll.njk'
main__class: main-strategy
---

<nav aria-label="a set of filters which change the articles listed">
  <ul role="list" class="flex">
    <li class="btn-link-2"><strong>Filters:</strong></li>
    <li class="btn-link-2"><a href="{{ '/filter/posts/' | url }}">All</a></li>
    <li class="btn-link-2"><a href="{{ '/filter/blog/' | url }}">Blog</a></li>
    <li class="btn-link-2"><a href="{{ '/filter/articles/' | url }}">Articles</a></li>
    <li class="btn-link-2"><a href="{{ '/filter/consulting/' | url }}">Consulting</a></li>
    <li class="btn-link-2"><a href="{{ '/filter/finance/' | url }}">Finance</a></li>
    <li class="btn-link-2"><a href="{{ '/filter/operations/' | url }}">Operations</a></li>
    <li class="btn-link-2"><a href="{{ '/filter/project/' | url }}">Project management</a></li>
    <li class="filter--highlight btn-link-2"><a href="{{ '/filter/strategy/' | url }}">Strategy</a></li>
    <li class="btn-link-2"><a href="{{ '/filter/technology/' | url }}">Technology</a></li>
  </ul>
</nav>

<ul role="list" class="blog-grid">

{%- for strategy in collections.strategy | reverse -%}
  <li class="flow blog-card">
    <article class="flow" aria-labelledby="{{strategy.data.title}}">
      <h3 id="{{strategy.data.title}}">{{ strategy.data.title }}</h3>
      <img src="{{ strategy.data.image }}" alt=""/>
      <p>by <span>{{ strategy.data.author }}</span> on <span>{{ strategy.data.date | postDate }}</span></p>
      <p>{{ strategy.data.description }}</p>
      <a href="{{ strategy.url }}">Continue reading</a>
    </article>
  </li>
{%- endfor -%}
