---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'blogroll.njk'
main__class: main-strategy
---

<ul role="list" class="blog-grid">

{%- for strategy in collections.strategy | reverse -%}
  <li class="flow blog-card">
    <article class="flow" aria-labelledby="{{strategy.data.title}}">
      <h3 id="{{strategy.data.title}}">{{ strategy.data.title }}</h3>
      <img src="{{ strategy.data.image }}" alt=""/>
      <p>by <span>{{ strategy.data.author }}</span> on <span>{{ strategy.data.date | postDate }}</span></p>
      <p>{{ strategy.data.description }}</p>
      <a href="{{ strategy.url }}">Continue reading</a>
    </article>
  </li>
{%- endfor -%}
