---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'blogroll.njk'
main__class: main-technology
---

<ul role="list" class="blog-grid">

{%- for technology in collections.technology | reverse -%}
  <li class="flow blog-card">
    <article class="flow" aria-labelledby="{{technology.data.title}}">
      <h3 id="{{technology.data.title}}">{{ technology.data.title }}</h3>
      <img src="{{ technology.data.image }}" alt="" />
      <p>by <span>{{ technology.data.author }}</span> on <span>{{ technology.data.date | postDate }}</span></p>
      <p>{{ technology.data.description }}</p>
      <a href="{{ technology.url }}">Continue reading</a>
    </article>
  </li>
{%- endfor -%}