<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ '/styles.css' | url }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0c355a85b4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1 class="hi-im-alex-container flex">
        <span class="hi flex">Hi,</span><span class="im-alex">I'm Alex</span>
      </h1>
      <div class="divider"></div>
      <nav>
        <ul role="list" class="flex">
          <li><a class="btn-link" href="{{ '/index/' | url }}">Home</a></li>
          <li><a class="btn-link" href="{{ '/blog/' | url }}">Blog</a></li>
          <li><a class="btn-link" href="{{ '/experience/' | url }}">Experience</a></li>
          <li><a class="btn-link" href="{{ '/more/photography/' | url }}">Photography</a></li>
          <li><a class="btn-link" href="{{ '/more/programming/' | url }}">Programming</a></li>
          <li><a class="btn-link" href="{{ '/more/classic-cars/' | url }}">Classic cars</a></li>   
        </ul>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="flow">  
      <aside class="flex column flow">
        <h2>Contact</h2>
        <form class="flow"
          action="https://formspree.io/f/movqvvgv"
          method="POST"
          >  
          <div>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" />
          </div>
          <div>
            <label for="email">E-mail: </label> 
            <input id="email" type="email" name="email" />
          </div>
          <div>
            <label for="textarea" name="message">Message: </label> 
            <textarea name="message"></textarea>
          </div>
          <button type="submit">Send</button>
        </form>
      </aside>
      <aside class="flow">
        <h2 id="site-map">Site map</h2>
          <div>
            <h3>Posts:</h3>
            <ul role="list">              
              <li><a href="{{ '/blog/' | url }}">All</a></li>
              <li><a href="{{ '/filter/blog/' | url }}">Blog</a></li>
              <li><a href="{{ '/filter/articles/' | url }}">Articles</a></li>
              <li><a href="{{ '/filter/operations/' | url }}">Operations</a></li>
              <li><a href="{{ '/filter/project/' | url }}">Project management</a></li>
              <li><a href="{{ '/filter/consulting/' | url }}">Consulting</a></li>
              <li><a href="{{ '/filter/strategy/' | url }}">Strategy</a></li>
              <li><a href="{{ '/filter/technology/' | url }}">Technology</a></li>
            </ul>
          </div>
          <div>
            <h3>About</h3>
            <ul role="list">
              <li><a href="#">Services</a></li>
              <li><a href="#">Experience</a></li>
            </ul>
          </div>
          <div>
            <h3 href="#">More:</h3>
            <ul role="list">
              <li><a href="#">Photography</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">Classic cars</a></li>
            </ul>
          </div>
      </aside>
      <aside>
        <p>Built by Alex Roan using HTML, CSS and 11ty</p>
      </aside>
    </footer>
  </body>
</html>