    <footer>
    
      <div class="footer__container">

        <h2 class="footer__subtitle-one">Contact:</h2>
        <form class="contact-form"
          action="https://formspree.io/f/movqvvgv"
          method="POST"
          >  
          <div class="contact-form__row">
            <label for="name" class="contact__label">Name: </label>
            <input class="contact__input" id="name" type="text" name="name" />
          </div>
          <div class="contact-form__row">
            <label for="email" class="contact__label">E-mail: </label> 
            <input class="contact__input" id="email" type="email" name="email" />
          </div>
          <label for="textarea" class="contact__label" name="message">Message: </label> 
          <textarea class="contact__input contact__input-message" name="message"></textarea>
          <button type="submit">Send</button>
        </form>

        <h2 class="footer__subtitle-one">Site map:</h2>
        <div class="sitemap">
          <div class="sitemap-column">
            <h3 class="footer__subtitle-two">Posts:</h3>
            <ul class="ul--plain">              
              <li><a class="li--plain" href="posts">All</a></li>
              <li><a class="li--plain" href="{{ '/categories/finance/' | url }}">Finance transformation</a></li>
              <li><a class="li--plain" href="{{ '/categories/operations/' | url }}">Operations</a></li>
              <li><a class="li--plain" href="{{ '/categories/project/' | url }}">Project management</a></li>
              <li><a class="li--plain" href="{{ '/categories/consulting/' | url }}">Consulting</a></li>
              <li><a class="li--plain" href="{{ '/categories/strategy/' | url }}">Strategy</a></li>
              <li><a class="li--plain" href="{{ '/categories/technology/' | url }}">Technology</a></li>
            </ul>
          </div>
          <div class="sitemap-column">
            <h3 class="footer__subtitle-two">About:</h3>
            <ul class="ul--plain">
              <li><a class="li--plain" href="{{ '/services/' | url }}">Services</a></li>
              <li><a class="li--plain" href="{{ '/experience/' | url }}">Experience</a></li>
            </ul>
          </div>
          <div class="sitemap-column">
            <h3 class="footer__subtitle-two">More:</h3>
            <ul class="ul--plain">
              <li><a class="li--plain" href="{{ '/more/photography/' | url }}">Photography</a></li>
              <li><a class="li--plain" href="{{ '/more/programming/' | url }}">Programming</a></li>
              <li><a class="li--plain" href="{{ '/more/classic-cars/' | url }}">Classic cars</a></li>
            </ul>
          </div>
        </div>

        <p class="footer__text">Built by Alex Roan using HTML, CSS and 11ty</p>
      </div>
  
    </footer>