<header class="heading__frame">
  <h1 class="heading__title">
    <span class="heading__title-one">Hi</span>
    <span class="heading__title-two">I'm Alex</span>
  </h1>
  <nav class="nav__container">
    <ul class="nav__ul">
      <li class="nav__li"><a class="nav__link" href="/index">Home</a></li>
      <li class="nav__li"><a class="nav__link" href="/services">Services</a></li>
      <li class="nav__li"><a class="nav__link" href="/experience">Experience</a></li>
      <li class="nav__li dropdown">
        <a class="nav__link" href="/more">More <i class="fa-solid fa-chevron-down"></i></a>
        <ul class="nav__more">
          <li class="nav__li"><a class="nav__link" href="/more/photography">Photography</a></li>
          <li class="nav__li"><a class="nav__link" href="/more/programming">Programming</a></li>
          <li class="nav__li"><a class="nav__link" href="/more/classic-cars">Classic cars</a></li>   
        </ul>
      </li>
    </ul>
  </nav>
  <div class="mobile-nav__container">
    <a href="/menu"><i class="fa-solid fa-bars hamburger"></i></a>
  </div>
</header>