<header class="heading__frame--small">
  <h1 class="heading__title--small">
    <span class="heading__title-one--small"> {{ title }} </span>
    <span class="heading__title-two--small"> {{ titletwo}} </span>
  </h1>
  <nav class="nav__container--small">
    <ul class="nav__ul">
      <li class="nav__li"><a class="nav__link--small" href="/index">Home</a></li>
      <li class="nav__li"><a class="nav__link--small" href="/services">Services</a></li>
      <li class="nav__li"><a class="nav__link--small" href="/experience">Experience</a></li>
      <li class="nav__li dropdown">
        <a class="nav__link--small" href="/more">More <i class="fa-solid fa-chevron-down"></i></a>
        <ul class="nav__more">
          <li class="nav__li"><a class="nav__link--small" href="/more/photography">Photography</a></li>
          <li class="nav__li"><a class="nav__link--small" href="/more/programming">Programming</a></li>
          <li class="nav__li"><a class="nav__link--small" href="/more/classic-cars">Classic cars</a></li>   
        </ul>
      </li>
    </ul>
  </nav>
  <div class="mobile-nav__container">
    <a href="/menu"><i class="fa-solid fa-bars hamburger"></i></a>
  </div>
</header>
<div class="divider-one"></div>
<div class="divider-one"></div>