<header class="header-ctr">
  <a href="#main" class="skip">Skip to main content</a>
  <p class="logo-ctr">
    <span class="logo-span-one">Hi,</span>
    <span class="logo-span-two">I'm Alex</span>
  </p>
  <nav>
    <ul role="list" class="nav-ul">
      <li><a class="nav-li" href="{{ '/' | url }}">Home</a></li>
      <li><a class="nav-li" href="{{ '/about/alex/' | url }}">About</a></li>
      <li><a class="nav-li" href="{{ '/projects/' | url }}">Projects</a></li>
      <li><a class="nav-li" href="https://linktr.ee/alexanderroan">Socials</a></li>
    </ul>
  </nav>
</header>