<header class="heading__frame--small">
  <h1 class="heading__title--small">
    <span class="heading__title-one--small"> {{ title }} </span>
    <span class="heading__title-two--small"> {{ titletwo}} </span>
  </h1>
  <nav class="nav__container--small">
    <ul class="nav__ul--small">
      <li class="nav__li--small"><a class="nav__link--small" href="{{ '/index/' | url }}">Home</a></li>
      <li class="nav__li--small"><a class="nav__link--small" href="{{ '/services/' | url }}"">Services</a></li>
      <li class="nav__li--small"><a class="nav__link--small" href="{{ '/experience/' | url }}">Experience</a></li>
      <li class="nav__li--small dropdown">
        <a class="nav__link--small" href="/more">More <i class="fa-solid fa-chevron-down"></i></a>
        <ul class="nav__more">
          <li class="nav__li--small"><a class="nav__link--small" href="{{ '/more/photography/' | url }}">Photography</a></li>
          <li class="nav__li--small"><a class="nav__link--small" href="{{ '/more/programming/' | url }}">Programming</a></li>
          <li class="nav__li--small"><a class="nav__link--small" href="{{ '/more/classic-cars/' | url }}">Classic cars</a></li>   
        </ul>
      </li>
    </ul>
  </nav>
  <div class="mobile-nav__container">
    <a href="/menu"><i class="fa-solid fa-bars hamburger"></i></a>
  </div>
</header>
<div class="divider-one"></div>
<div class="divider-one"></div>