<header>
  <a href="#main" class="skip">Skip to main content</a>
  <p class="header__container flex">
    <span class="header__span-one">Hi,</span><span class="header__span-two">I'm Alex</span>
  </p>
  <div class="divider"></div>
  <nav>
    <ul role="list" class="flex">
      <li><a class="btn-link" href="{{ '/' | url }}">Home</a></li>
      <li><a class="btn-link" href="{{ '/filter/posts/' | url }}">Blog</a></li>
      <li><a class="btn-link" href="{{ '/services/' | url }}">Services</a></li>
      <li><a class="btn-link" href="{{ '/experience/' | url }}">Experience</a></li>
      <li><a class="btn-link" href="{{ '/more/' | url }}">Side projects</a></li>
    </ul>
  </nav>
</header>