---
layout: 'content.njk'
main__class: photography
---

<div class="posts__frame__post">
    <img class="photo-page__image" src="{{ image }}" art"{{ imageAlt}}">
    <p>{{ title }}</p>
    <h2 class="photography__h2">{{ photo.data.title }}</h2>
    <a href="{{ photo.data.location }}">location</a>
    {{ content | safe }}
</div>