---
layout: 'post-layout.njk'
---

<div class="posts__frame__post">
  <article>
      <h2 class="article-title"> {{ subtitle }} </h2>
      <img src="{{ image }}">
      {{ content | safe }}
  </article>
</div>