<section class="region__sidebar flow">
  <aside>
    <h1>About</h1>
    <p>I'm Alex, I'm currently living in Bangkok</p>
    <img src="{{ '/assets/images/alex2.jpg' | url }}" alt="profile picture of alex" loading="lazy">
  </aside>
  <aside>
    <h1>Posts by type</h1>
    <ul role="list">
      <li><a href="{{ '/filter/posts/' | url }}">All</a></li>
      <li><a href="{{ '/filter/blog/' | url }}">Blog posts</a></li>
      <li><a href="{{ '/filter/articles/' | url }}">Articles</a></li>
    </ul>
  </aside>
  <aside>
    <h1>Posts by category</h1>
    <ul role="list">
      <li><a href="{{ '/filter/posts/' | url }}">All</a>  </li>
      <li><a href="{{ '/filter/consulting/' | url }}">Consulting</a></li>
      <li><a href="{{ '/filter/finance/' | url }}">Finance</a></li>
      <li><a href="{{ '/filter/operations/' | url }}">Operations</a></li>
      <li><a href="{{ '/filter/project/' | url }}">Project management</a></li>
      <li><a href="{{ '/filter/strategy/' | url }}">Strategy</a></li>
      <li><a href="{{ '/filter/technology/' | url }}">Technology</a></li>
    </ul>
  </aside>
  <aside>
    <h1 id="socials">Socials</h1>
    <ul role="list" class="flex socials">
      <li><a name="LinkedIn link" href="https://www.linkedin.com/in/alexanderroan/"><i class="fa-brands fa-linkedin"></i><p>LinkedIn</p></a></li>
    </ul>

  </aside>
</section>