<section class="region__sidebar flow">
  <aside>
    <h1>About</h1>
    <div>
      <p>Hi, I'm Alex, I work in business and technology transformation.</p>
      <p>I'm also interested in photography, classic cars and programming.</p>
    </div>
  </aside>
  <aside>
    <h1>Browse by post type</h1>
    <ul role="list">
      <li><a href="{{ '/filter/posts/' | url }}">All</a></li>
      <li><a href="{{ '/filter/blog/' | url }}">Blog posts</a></li>
      <li><a href="{{ '/filter/articles/' | url }}">Articles</a></li>
    </ul>
  </aside>
  <aside>
    <h1>Browse by post category</h1>
    <ul role="list">
      <li><a href="{{ '/filter/posts/' | url }}">All</a>  </li>
      <li><a href="{{ '/filter/consulting/' | url }}">Consulting</a></li>
      <li><a href="{{ '/filter/finance/' | url }}">Finance</a></li>
      <li><a href="{{ '/filter/operations/' | url }}">Operations</a></li>
      <li><a href="{{ '/filter/project/' | url }}">Project management</a></li>
      <li><a href="{{ '/filter/strategy/' | url }}">Strategy</a></li>
      <li><a href="{{ '/filter/technology/' | url }}">Technology</a></li>
    </ul>
  </aside>
  <aside class="spotify">
    <h1>My liked songs</h1>
    <a href="#socials" class="skip">Skip past spotify playlist</a>
    <iframe title="Spotify playlist" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6ChjnI7zN70CAqUJTeROJd?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </aside>
  <aside>
    <h1 id="socials">Socials</h1>
    <ul role="list" class="flex socials">
      <li><a name="LinkedIn link" href="https://www.linkedin.com/in/alexanderroan/"><i class="fa-brands fa-linkedin"></i><p>LinkedIn</p></a></li>
      <li><a name="X.com link" href="https://x.com/xander_roan"><i class="fa-brands fa-x-twitter"></i><p>X/twitter</p></a></li>
      <li><a name="Github link" href="https://github.com/dearestalexander"><i class="fa-brands fa-github"></i><p>Github</p></a></li>
    </ul>

  </aside>
</section>