{% set clientItems = [] %}
{% for p in collections.project %}
  {% set obj = {
    title: p.data.title,
    url: p.url,
    project: (p.data.project | string),
    subproject: (p.data.subproject | string),
    tags: (p.data.tags),
    date: (p.date)
  } %}
  {% set clientItems = clientItems.concat([obj]) %}
{% endfor %}

<script type="application/json" id="project-data">
  {{ clientItems | dump | safe }}
</script>