/*======================
------ VARIABLES -------
======================*/

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1500,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step-2: clamp(0.6944rem, 0.692rem + 0.0122vw, 0.7035rem);
  --step-1: clamp(0.8333rem, 0.805rem + 0.1416vw, 0.9377rem);
  --step-0: clamp(1rem, 0.9322rem + 0.339vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0736rem + 0.6322vw, 1.6663rem);
  --step-2: clamp(1.44rem, 1.2282rem + 1.0591vw, 2.2211rem);
  --step-3: clamp(1.728rem, 1.3937rem + 1.6715vw, 2.9607rem);
  --step-4: clamp(2.0736rem, 1.5656rem + 2.5398vw, 3.9467rem);
  --step-5: clamp(2.4883rem, 1.7364rem + 3.7594vw, 5.2609rem);
  --step-6: clamp(2.986rem, 1.894rem + 5.4601vw, 7.0128rem);
  --step-7: clamp(3.5832rem, 2.0198rem + 7.8168vw, 9.3481rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1500,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.2331rem + 0.0847vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4661rem + 0.1695vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6992rem + 0.2542vw, 0.9375rem);
  --space-s: clamp(1rem, 0.9322rem + 0.339vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3983rem + 0.5085vw, 1.875rem);
  --space-l: clamp(2rem, 1.8644rem + 0.678vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7966rem + 1.0169vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.7288rem + 1.3559vw, 5rem);
  --space-3xl: clamp(6rem, 5.5932rem + 2.0339vw, 7.5rem);

  --color-red: #EB0A1E;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #58595B;
  --color-lightgrey: #f6f6f6;
  --color-lightyellow: #f1be32;
  --font-family: "Manrope", sans-serif;
  --font-family-alt: "EB Garamond", sans-serif;
  --gutter: var(--space-s);
  --border-radius: var(--step-1);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.02ch;
  --tracking-s: -0.075ch;
}

/*===================
------ RESET --------
===================*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control */
body, h1, h2, h3, h4, p,
figure, blockquote, ul, ol {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list */
ul[role='list'], ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*==========================
------ GLOBAL DESIGN -------
==========================*/
body {
  color: var(--color-grey);
  background: var(--color-white);
  font-size: var(--step-0);
  font-family: var(--font-family);
  letter-spacing: var(--tracking);
  margin: auto;
}

h1, h2, h3 {
  letter-spacing: var(--tracking-s);
}

h1 {
  font-size: var(--step-3);
  font-family: var(--font-family-alt);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

[role="list"] {
  padding: 0;
}

a {
  color: currentColor;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

.divider {
  width: 100%;
  margin: 0;
  border: 1px solid var(--color-grey);
}


/*=============================
------ RE-USABLE CLASSES ------
=============================*/
/* flex wrap */
.flex {
  display: flex;
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.hide {
  display:none;
}

.inline {
  display: inline;
}


/*==========================
------ HEADER STYLING ------
==========================*/
/* Heading text - home page style */
.skip {
  position: absolute;
  left: 0px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header__container {
  align-items: baseline;
  padding-bottom: var(--space-3xl);
  background-color: var(--color-lightgrey);
}

.header__span-one {
  display: inline;
  font-size: var(--step-7);
  padding: 0.5em 0.1em 0.1em 0.5em;
  margin: 0.5em 0.1em 0em 0.5em;
  background-color: var(--color-red);
  color: var(--color-lightgrey);
}

.header__span-two {
  font-size: var(--step-3);
}

.heading__container--content {
  max-width: 100%vw;
  align-items: baseline;
  margin: var(--space-3xs);
  background-color: var(--color-lightgrey);
  letter-spacing: var(--tracking);
  gap: var(--space-xs);
}

.heading__span-one--content {
  font-size: var(--step-2);
  padding: var(--space-s) var(--space-3xs) var(--space-3xs) var(--space-s);
  background-color: var(--color-red);
  color: var(--color-lightgrey);
}

.heading__span-two--content {
  font-size: var(--step-0);
  font-style: italic;
}


/*===================
------ NAV BAR ------
===================*/
nav > ul {
  padding-left: 2vw;
  gap: var(--space-2xs);
  margin: var(--space-s) 0 var(--space-s) 2vw;
  flex-wrap: wrap;
}

.btn-link {
  display: inline-block;
  background-color: var(--color-grey);
  color: var(--color-lightgrey);
  padding: 0.1em 0.5em;
  text-decoration: none;
}

.btn-link:hover {
  background-color: var(--color-red);
}


/*=======================
------ MAIN LAYOUT ------
=======================*/
.flow > * + * {
  margin-top: var(--space-l, 1em);
}

.region__news {
  background-color: var(--color-black);
  color: var(--color-lightgrey);
  padding-left: 2vw;
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.region__news__text {
  max-width: min(65ch, 95%);
  flex: 3;
}

.region__news h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.region__featured {
  background-color: var(--color-white);
  padding-left: 2vw;
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.region__featured > h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blog-grid {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
}

.blog-card {
  max-width: min(65ch, 95%);
  padding: 1rem;
  background-color: var(--color-lightgrey);
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
}

.blog-card h1 {
  font-size: var(--step-2);
}

.blog-card a {
  color: var(--color-red);
}

.region__sidebar {
  background-color: white;
  width: min(35ch, 95%);
  padding: var(--space-m) 2vw;
  flex: 1;
}

.region__sidebar h1 {
  font-size: var(--step-2);
}

.region__sidebar h1 {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.socials {
  flex-direction: column;
  font-size: var(--step-2);
}

.socials p {
  display: inline;
  padding-left: 0.5em;
}

/* Footer */
footer {
  background-color: var(--color-grey);
  color: var(--color-lightgrey);
  margin-top: var(--space-3xl);
  padding-top: var(--space-2xl);
}

.contact,
.site-map,
.attribution {
  padding-left: 2vw;
  display: inline-block;
}
input {
  max-width: 20ch;
}
textarea {
  display: block;
  max-width: 20ch;
}
button {
  display: block;
}

/*=============================
------ CONTENT PAGE -------
=============================*/

.region__posts {
  background-color: var(--color-white);
  padding-left: 2vw;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-m);
}

.region__posts > h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.region__posts > .blog-grid {
  padding-top: var(--space-m);
}

/* Add posts filter for when sidebar isn't visible */
.btn-link-2 {
  font-size: var(--step-0);
  color: var(--color-grey);
}

.btn-link-2 > a {
  text-decoration: none;
  border-bottom: 1px solid var(--color-grey);
}

.filter--highlight a {
  border-bottom: 3px solid var(--color-red);
}


/*=============================
------ SINGLE POST PAGE -------
=============================*/

.single-post {
  max-width: min(65ch, 90vw);
  margin: auto;
  overflow-wrap: break-word; /* Prevent long words from causing overflow */
}

.single-post h1 {
  padding-top: var(--space-m);
  padding-bottom: 0;
  margin: 0;
}

.single-post__attribution {
  margin-top: 0;
  padding-top: 0;
  font-style: italic;
}

.single-post ul {
  margin: 1em;
}


/*=============================
------ PHOTOGRAPHY PAGE -------
=============================*/
.divider--small {
  width: 40%;
  border: 1px solid var(--color-grey);
  margin: var(--space-2xl) auto
}

/*====================================
------ WRAP SIDEBAR FOR MOBILE -------
=====================================*/

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }
}





