/* ======================================= */
/* ========== VARIABLES & RESET ========== *
/* ======================================= */
:root {
  /* alexroan.com colours */
  --color-red: #EB0A1E;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #58595B;
  --color-lightgrey: #f6f6f6;
  --color-lightyellow: #f1be32;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}




/* =================================== */
/* ========== DESIGN - BODY ========== *
/* =================================== */
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img {
  max-width: 100%;
  margin: auto;
}

a {
  color: var(--color-lightyellow);
  text-decoration: none;
}


/* general bullets */

.ul--plain {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li--plain {
  color: black;
  text-decoration: none;
}


/* bullet styleing for recent updates */
.ul--recent {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.ul--recent > li {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.ul--recent ul {
  margin-top: 0.2rem;
  padding-left: 1rem;
}

.ul--recent ul > li {
  font-weight: normal;
  padding: 0.2rem 0;
  line-height: 1.6;
}

.ul--recent p, .ul--recent a {
  font-weight: normal;
}


/* ===================================== */
/* ========== DESIGN - HEADER ========== *
/* ===================================== */

/* ---------- Main header (used on home page) ----------  */
.heading__frame {
  max-width: 90svw;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 6rem 0;
  color: black;
}

.heading__title-one {
  display: block;
  background-color: var(--color-red);
  font-size: 3rem;
  width: 8rem;
  padding: 4rem 0.5rem 0rem 4rem;
}

.heading__title-two {
  display: block;
  width: 16rem;
  font-size: 4rem;
  margin: -0.4rem 1rem 1rem 1.4rem;
}

.nav__ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__li {
  text-decoration: none;
  border-radius: 0.5rem;
}

.nav__link {
  display: block;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  color: black;
  text-decoration: none;
}

.nav__link:hover {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.nav__more {
  display: none;
  position: absolute;
  list-style-type: none;
  color: black;
  top: 100%;
  left: 0%;
  margin: 0;
  padding: 0.2rem 0 0 0;
}

.dropdown:hover .nav__more {
  display: block;
}


/* ---------- smaller header (used on content pages) ----------  */
.heading__frame--small {
  width: 90svw;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.heading__title--small {
  padding-right: 4rem;
  font-size: 1.2rem;
  text-wrap: nowrap;
}

.heading__title-one--small {
  text-wrap: nowrap;
}

.heading__title-two--small {
  color: var(--color-red);
  font-style: italic;
  text-wrap: nowrap;
}

.nav__ul--small {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__li--small {
  display: flex;
  align-items: center;  
}

.nav__link--small {
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.nav__link--small:hover {
  background-color: var(--color-lightyellow);
  color: white;
}

.divider-one {
  border: 1px solid var(--color-lightgrey);
  margin-bottom: 0.1rem;
}

/* ---------- Mobile navigation (hide) ---------- */
.mobile-nav__container { 
  display: none; /* hide mobile nav */
}




/* ===================================== */
/* ========== DESIGN - MAIN ========== *
/* ===================================== */


/* ---------- Large header & general (used on home/index.njk) ----------  */
main {
  width: min(105ch, 90%);
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  font-size: 1rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.2rem;
}

.posts__frame {
  width: min(65ch, 90%);
  margin: 0ch 5ch 0ch 5ch;
}

.snippet__article {
  border-radius: 0.5rem;
  background-color: var(--color-lightgrey);
  padding: 1rem;
}

.snippet__title {
  font-size: 1rem;
  font-weight: bold;
  hyphens: none;
  padding: 0 0 1rem 0;
  margin: 0;
}

.snippet__image {
  display: block;
  width: 90%;
  margin: auto;
}

.snippet__meta {
  color: var(--color-grey);
  font-style: italic;
}

.divider-two {
  border: 1px solid var(--color-lightgrey);
  width: 40%;
  margin: 4rem auto;
}


/* ---------- Adjust main for single posts pages (post-layout.njk) ----------  */
.main__centered {
  flex-direction: column;
  align-items: center;
}

.posts__frame__post {
  width: min(75ch, 90%);
}


/* ---------- Sidebar menu on home/index and posts pages ----------  */
.sidebar__container {
  width: 40ch;
  padding: 0ch 2ch 0ch 2ch;
}

.sidebar__container--content {
  padding-top: 4rem;
}

.sidebar__aside {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.sidebar__text {
  margin: 0;
  padding: 0;
  hyphens: none;
}

.sidebar__title {
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 1.2rem;
  color: var(--color-lightyellow);
  font-weight: bold;
}

.sidebar__box {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.6rem 1rem 1.2rem 1rem;
}

.sidebar__link {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-lightyellow);
  text-decoration: none;
  color: var(--color-grey);
}

.sidebar__link:hover {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

/* higlight the 'filter link' based on the content page being viewed
    - The frontmatter on content pages has a field 'main__class'
    - This is used to update the class of main in the content template
    - e.g. <main class="articles"> or <main class="finance"> depending on the content page
    - Each link in the sidebar has a class matching it's name e.g. <a class="article">
    - Styles can then be applied using descendent selector to highlight the link for the current page
      - .articles .article {background-color: grey} would apply grey to the articles link on the article page
      - .finance .finance {background-color: grey} would apply gret to teh finance link on the finance page
    - (This allows for dynamic update of the sidebar template)
*/

.main-all .type-all-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.main-articles .articles-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.main-blog .blog-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.main-all .category-all-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.main-consulting .consulting-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.main-finance .finance-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.main-operations .operations-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.main-project .project-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.main-strategy .strategy-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}

.main-technology .technology-link {
  background-color: var(--color-lightyellow);
  color: var(--color-white);
}




/* ===================================== */
/* ========== DESIGN - FOOTER ========== *
/* ===================================== */

footer {
  width: 100svw;
  background-color: var(--color-lightgrey);
  color: var(--color-grey);
  margin-top: 4rem;
}

.footer__container {
  width: min(105ch, 80%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 4rem;
  margin: auto;
}

.footer__subtitle-one {
  color: var(--color-black);
  font-weight: bold;
  font-size: 1.2rem;
}

.footer__subtitle-two {
  color: var(--color-grey);
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.5rem;
}


/* ---------- Contact form ----------  */

.contact-form {
  width: min(50ch, 100%);
  display: grid;
  grid-template-columns: auto 1fr; /* content size for label, remainder for input */
  gap: 1rem;
  padding-bottom: 1rem;
}

.contact-form__row {
  display: contents; /* ensure divs don't interfere with grid layout */
}

.contact__label {
  width: 10ch;
  padding-right: 10px;
}

.contact__input {
  width: 100%;
}

.contact__message {
  height: 10ch;
}


/* ---------- Sitemap ----------  */
.sitemap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  padding-bottom: 2rem;
}

.sitemap a {
  color: var(--color-lightyellow);
  padding-left: 0.5rem;
}


/* ---------- Attribution ----------  */
.footer__text {
  font-size: 1rem;
  padding: 2rem;
  align-self: center;
  font-style: italic;
  text-align: center;
}



/* ====================================== */
/* ========== Photography page ========== *
/* ====================================== */

/* remove sidebar (which is part of content.njk layout) */
.photography > .sidebar__container {
  display: none;
}

/* adjust flex to centre content after removing sidebar */
.photography {
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.photography__h2 {
  font-size: 1rem;
}

/* Design for single photo post (photo.njk and template file photo-layout.njk) */
.photo-page__image {
  max-width: 90%;
  max-height: 90%;
}

.posts__frame__post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0ch 5ch 0ch 5ch;
}



/* ====================================== */
/* ========== Programming page ========== *
/* ====================================== */

/* remove sidebar (which is part of content.njk layout) */
.programming > .sidebar__container {
  display: none;
}

/* adjust flex to centre content after removing sidebar */
.programming {
  flex-direction: column;
  align-items: center;
}

.article__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid var(--color-grey);
  padding: 1rem;
}

.grid-item:nth-child(5) {
  grid-column: 1 / span 2;
  justify-self: center;
}



/* ====================================== */
/* ========== Classic cars page ========== *
/* ====================================== */

/* remove sidebar (which is part of content.njk layout) */
.classics > .sidebar__container {
  display: none;
}

/* adjust flex to centre content after removing sidebar */
.classics {
  flex-direction: column;
  align-items: center;
}


/* ===================================================== */
/* ========== DESIGN - SMALL SCREENS / MOBILE ========== *
/* ===================================================== */

/* 
As there are several pages and filters to navigage between
The approach is 
- Hide main nav menu
- Hide sidebar filters
- Add a 'hamburger' menu top right
- On click this links to a separate menu page
- The menu page has a 'x' top right to close and return
*/

@media (max-width: 1100px) {
  .heading__title--small {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .sitemap {
    grid-template-columns: 1fr
  }
}

@media (max-width: 600px) {
  .heading__frame--small {
    width: 80%;
    align-self: flex-start;
  }

  .hamburger {
    font-size: 2rem;
    padding: 1rem;
    color: var(--color-lightyellow);
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  .contact-form {
    grid-template-columns: 1fr;
  }

  .footer__site-map {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .nav__container, .nav__container--small, .sidebar__container, .sidebar__container--content {
    display: none;
  }

  .mobile-nav__container {
    display: flex;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    align-items: center;
    justify-content: space-around;
  }
}