<header>
  <a href="#main" class="skip">Skip to main content</a>
  <p class="heading__container--small flex">
    <span class="heading__span-one--content flex">Programming</span><span class="heading__span-two--content
    ">By Alex Roan</span>
  </p>
  <div class="divider"></div>
  <nav>
    <ul role="list" class="flex">
      <li><a class="btn-link" href="{{ '/' | url }}">Home</a></li>
      <li><a class="btn-link" href="{{ '/filter/posts/' | url }}">Blog</a></li>
      <li><a class="btn-link" href="{{ '/experience/' | url }}">Experience</a></li>
      <li><a class="btn-link" href="{{ '/more/photography/' | url }}">Photography</a></li>
      <li><a class="btn-link" href="{{ '/more/programming/' | url }}">Programming</a></li>
      <li><a class="btn-link" href="{{ '/more/classics/' | url }}">Classic cars</a></li>   
    </ul>
  </nav>
</header>