---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'content.njk'
main__class: main-finance
---

<div class="posts__frame">
  <ul class="ul--plain">
    {%- for finance in collections.finance | reverse -%}
      <li class="li--plain">
        <article class="snippet__article">
          <h2 class="snippet__title">{{ finance.data.title }}</h3>
          <img class="snippet__image" src="{{ finance.data.image }}" />
          <p class="snippet__meta">by <span>{{ finance.data.author }}</span> on <span>{{ finance.data.date | postDate }}</span></p>
          <p class="snippet__description">{{ finance.data.description }}</p>
          <a class="snippet__link" href="{{ finance.url }}">Continue reading</a>
        </article>
      </li>
      <div class="divider-two"></div>
    {%- endfor -%}
  </ul>
</div>