---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'content.njk'
main__class: main-project
---

<div class="posts__frame">
  <h2>Posts: Project management</h2>
  <ul class="ul--plain">
    {%- for project in collections.project | reverse -%}
      <li class="li--plain">
        <article class="snippet__article">
          <h3 class="snippet__title">{{ project.data.title }}</h3>
          <img class="snippet__image" src="{{ project.data.image }}" />
          <p class="snippet__meta">by <span>{{ project.data.author }}</span> on <span>{{ project.data.date | postDate }}</span></p>
          <p class="snippet__description">{{ project.data.description }}</p>
          <a class="snippet__link" href="{{ project.url }}">Continue reading</a>
        </article>
      </li>
      <div class="divider-two"></div>
    {%- endfor -%}
  </ul>
</div>

