---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'content.njk'
main__class: main-strategy
---

<div class="posts__frame">
  <h2>Posts: Strategy</h2>
  <ul class="ul--plain">
    {%- for strategy in collections.strategy | reverse -%}
      <li class="li--plain">
        <article class="snippet__article">
          <h3 class="snippet__title">{{ strategy.data.title }}</h3>
          <img class="snippet__image" src="{{ strategy.data.image }}" />
          <p class="snippet__meta">by <span>{{ strategy.data.author }}</span> on <span>{{ strategy.data.date | postDate }}</span></p>
          <p class="snippet__description">{{ strategy.data.description }}</p>
          <a class="snippet__link" href="{{ strategy.url }}">Continue reading</a>
        </article>
      </li>
      <div class="divider-two"></div>
    {%- endfor -%}
  </ul>
</div>
