---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'content.njk'
main__class: main-technology
---

<div class="posts__frame">
  <h2>Posts: Technology</h2>
  <ul class="ul--plain">
    {%- for technology in collections.technology | reverse -%}
      <li class="li--plain">
        <article class="snippet__article">
          <h3 class="snippet__title">{{ technology.data.title }}</h3>
          <img class="snippet__image" src="{{ technology.data.image }}" />
          <p class="snippet__meta">by <span>{{ technology.data.author }}</span> on <span>{{ technology.data.date | postDate }}</span></p>
          <p class="snippet__description">{{ technology.data.description }}</p>
          <a class="snippet__link" href="{{ technology.url }}">Continue reading</a>
        </article>
      </li>
      <div class="divider-two"></div>
    {%- endfor -%}
  </ul>
</div>