---
title: Classic cars
titletwo: ~ by Alex Roan
layout: 'content.njk'
main__class: classics
---

<section class="posts__frame">

  <article>
    <p>This page is to share a few details on some of the classic cars and trucks I’ve bought, done a little work on and sold on. Why classics?</p>
    <ul>
      <li>They have more aesthetic appeal than modern cars (i.e. they look great!)</li>
      <li>You can experience a less diluted driving experience</li>
      <li>Greater safety through fewer safety devices (which are shown to increase dangerous driving)</li>
      <li>Enjoyment of the sounds and smells of old-school engines</li>
      <li>Less reliance on computers</li>
      <li>Easier self maintainance</li>
      <li>Environmental benefits – avoidance of disposal & the reductions in new car manufacturing.</li>
    </ul>
  </article>
  
  </article>
    <div class="car__container">
      <h3>1985 Landcruiser HJ60</h3>
      <img src="/classics/assets/landcruiser.jpg" />
    </div>
    <div class="car__container">
      <h3>1985 Toyota Celica Supra</h3>
      <img class="" src="/classics/assets/celicasupra.jpg" />
    </div>
    <div class="car__container">
      <h3>1989 Renault Alpine GTA V6 Turbo</h3>
      <img class="" src="/classics/assets/renaultalpinegta.jpg" />
    </div>
    <div class="car__container">
      <h3>1997 Toyota Hilux</h3>
      <img class="" src="/classics/assets/toyotahilux.jpg" />
    </div>
    <div class="car__container">
      <h3>1978 Pontiac Firebird Trans Am</h3>
      <img class="" src="/classics/assets/pontiacfirebirdtransam.jpg" />
    </div>
  </article>
</section>
