---
title: Classic cars
titletwo: ~ by Alex Roan
layout: 'classics-layout.njk'
main__class: classics
---

<p>In 2022 and 2023 I spent a year working on classic cars. I had the chance to take a break from consulting work and I used that time to buy cars and trucks at auction, do some basic repairs and sell them on. It was also an excuse to enjoy driving some of the cars I love.</p>
<p>Maybe I had been watching too many of those car garage reality tv shows.</p>
<p>But seriously, I believe there are a lot of good reasons to get into classic cars.</p>
<ul>
  <li>They have more aesthetic appeal than modern cars (i.e. they look great!)</li>
  <li>You can experience a less diluted driving experience</li>
  <li>Greater safety through fewer safety devices (which are shown to increase dangerous driving)</li>
  <li>Enjoyment of the sounds and smells of old-school engines</li>
  <li>Less reliance on computers</li>
  <li>Easier self maintainance</li>
  <li>Environmental benefits – avoidance of disposal & the reductions in new car manufacturing.</li>
</ul>
<p> Here are a few pictures of five of the best cars I worked on. I will hopefully get around to writing about and uploading an article about each in future</p>

<div class="car__container">
  <h3>1985 Landcruiser HJ60</h3>
  <img src="/classics/assets/landcruiser.jpg" />
</div>
<div class="car__container">
  <h3>1985 Toyota Celica Supra</h3>
  <img class="" src="/classics/assets/celicasupra.jpg" />
</div>
<div class="car__container">
  <h3>1989 Renault Alpine GTA V6 Turbo</h3>
  <img class="" src="/classics/assets/renaultalpinegta.jpg" />
</div>
<div class="car__container">
  <h3>1997 Toyota Hilux</h3>
  <img class="" src="/classics/assets/toyotahilux.jpg" />
</div>
<div class="car__container">
  <h3>1978 Pontiac Firebird Trans Am</h3>
  <img class="" src="/classics/assets/pontiacfirebirdtransam.jpg" />
</div>
