---
title: Photography
titletwo: ~ by Alex Roan
author: Alex Roan
layout: 'photo-layout.njk'
main__class: photography
---

{%- for photo in collections.photography | reverse -%}
    <article class="flow" aria-labelledby="{{photo.data.title}}>
      <h2 id="{{photo.data.title}}">{{ photo.data.subtitle }}</h2>
      <a href="{{ photo.url }}">
        <img src="{{ photo.data.image}}" alt="{{ photo.data.imageAlt }}" /></a>
      <p>{{ photo.data.description }}</p>
      {# <a href="{{ photo.data.location }}">location</a> #}
      <div class="divider--small"></div>
    </article>
{%- endfor -%}

