---
layout: 'blogroll-programming.njk'
main__class: programming
---

<h1>Updates on my journey in programming</h1>
<ul role="list" class="grid--programming">
  {%- for programming in collections.programming | reverse -%}
  <li class="flow card--programming">
    <article class="flow--small" aria-labelledby="{{programming.data.title}}>
      <h2 id="{{programming.data.title}}">{{ programming.data.subtitle }}</h2>
      <a href="{{ programming.url }}">
        <img src="{{ programming.data.image}}" alt="{{ programming.data.imageAlt }}" />
      </a>
      <p class="card__attribution"><span class="card__author">by {{ programming.data.author }}</span><span>{{ programming.data.date | postDate }}</span></p>
      <p>{{ programming.data.description }}</p>
    </article>
  </li>
  {%- endfor -%}
</ul>