---
title: Programming
titletwo: ~ by Alex Roan
layout: 'programming-layout.njk'
main__class: programming
---


<p>Under construction!</p>
<p>(I still need to fix the styling and links for this page after updating my website design. The original version follows, but links may not work).
<p>I was curious about how technology is developing and decided to study a little.</p>
<p>Over the years I've worked in a lot of technology roles, but they tend to be more at the level of application architecture and configuration. Although if we go far back enough in time I did know some Job Control Language on mainframe and I was able write and debug basic programs in SAP's propritary ABAP language.</p>
<p>So far I've been working with freeCodeCamp on web related scripting and programming languages and also with Harvards CS50 at a more fundamental level with C.</p>


<h2>freeCodeCamp: Responsive Web Design</h2>
<div class="grid-container">
  <div class="grid-item">
    <h3>Survey form</h3>
    <a href="/coding/survey" target="_blank">
      <img class="proj-img" src="/coding/assets/surveyform.png" />
    </a>
  </div>
  <div class="grid-item">
    <h3>Tribute page</h3>
    <a href="/coding/tribute" target="_blank">
      <img class="proj-img" src="/coding/assets/tribute.png" />
    </a>
    </div>
  <div class="grid-item">
    <h3>Technical documentation page</h3>
    <a href="/coding/technical" target="_blank">
      <img class="proj-img" src="/coding/assets/technical.png" />
    </a>
    </div>
  <div class="grid-item">
    <h3>Product landing page</h3>
    <a href="/coding/product" target="_blank">
      <img class="proj-img" src="/coding/assets/product.png" />
    </a>  
    </div>
  <div class="grid-item">
    <h3>Personal portfolio website</h3>
    <a href="/coding/portfolio" target="_blank">
      <img class="proj-img" src="/coding/assets/portfolio.png" />
    </a>
  </div>
</div>

<h2>freeCodeCamp: JavaScript Data Structures and Algorithms</h2>
<div class="grid-container">
  <div class="grid-item">
    <h3>Palindrome checker</h3>
    <a href="/coding/palindrome" target="_blank">
      <img class="proj-img" src="/coding/assets/palindrome.png" />
    </a>
  </div>
  <div class="grid-item">
    <h3>Roman numeral converter</h3>
    <a href="/coding/roman" target="_blank">
      <img class="proj-img" src="/coding/assets/roman.png" />
    </a>
  </div>
  <div class="grid-item">
    <h3>Telephone number validator</h3>
    <a href="/coding/telephone" target="_blank">
      <img class="proj-img" src="/coding/assets/telephone.png" />
    </a>
  </div>
  <div class="grid-item">
    <h3>Cash register</h3>
    <a href="/coding/cash" target="_blank">
      <img class="proj-img" src="/coding/assets/cash.png" />
    </a>
  </div>
  <div class="grid-item">
    <h3>Pokemon search app</h3>
    <a href="/coding/pokemon" target="_blank">
      <img class="proj-img" src="/coding/assets/pokemon.png" />
    </a>
  </div>
</div>

<h2>Harvard CS50</h2>
<div class="grid-container">
  <div class="grid-item">
    <h3>Scratch - CS50 forklift game</h3>
    <a href="https://cs50.harvard.edu/x/2024/psets/0/" target="_blank">Problem set 0</a>
    <p>Solutions:</p>
    <a href="https://scratch.mit.edu/projects/652270746/" target="_blank">
      <img class="proj-img" src="forklift.png">
    </a>
  </div>
  <div class="grid-item">
    <h3>CS50 PSet 1 - C</h3>
    <a href="https://cs50.harvard.edu/x/2024/psets/1/" target="_blank">Problem set 1</a>
    <p>Solutions:</p>
    <a href="https://github.com/me50/dearestalexander/tree/9cd1141a36c1b94b75dbc3af835d25ced0354ee6" target=_blank>hello.c</a>
    <a href="https://github.com/me50/dearestalexander/tree/0c42b140923744073aa01ce38bff2a9f24f1c92c" target=_blank>mario (more)</a>
    <a href="https://github.com/me50/dearestalexander/tree/81f2683a9e3cc57ccda3300d518373b9abe76636" target=_blank>credit</a>
  </div>
  <div class="grid-item">
    <h3>CS50 PSet 2 - Arrays</h3>
    <a href="https://cs50.harvard.edu/x/2024/psets/2/" target="_blank">Problem set 2</a>
    <p>Solutions:</p>
    <a href="https://github.com/me50/dearestalexander/tree/fecef936e91cec371a58af69f950559dad84baba" target="_blank">scrabble</a>
    <a href="https://github.com/me50/dearestalexander/tree/e4723105d8cf974ed0d4f5a16b933c06d4bf282a" target="_blank">readability</a>
    <a href="https://github.com/me50/dearestalexander/tree/7511171e147e76ddcfb2e7c24cfd102ffd3daaf8" target="_blank">caesar</a>
  </div>
  <div class="grid-item">
    <h3>CS50 PSet 3 - Algorithms</h3>
    <a href="https://cs50.harvard.edu/x/2024/psets/3/" target="_blank">Problem set 3</a>
    <p>Solutions:</p>
    <a href="https://github.com/me50/dearestalexander/tree/717f1aaf8f879ad40f5925d5c1f441a1900f0f45" target="_blank">sort</a>
    <a href="https://github.com/me50/dearestalexander/tree/9d06f0089df543b15a0390e75d46366c7f13fbf5" target="_blank">plularity</a>
    <a href="https://github.com/me50/dearestalexander/tree/8e11f46262e6623f843c7edb4628e807cb457994" target="_blank">runoff</a>
  </div>
  <div class="grid-item">
    <h3>CS50 PSet 4 - Memory</h3>
    <a href="https://cs50.harvard.edu/x/2024/psets/4/" target="_blank">Problem set 4</a>
    <p>Solutions:</p>
    <a href="https://github.com/me50/dearestalexander/tree/9226c62a3348b9f4751957d3d6bba4b66b08fe69" target="_blank">volume</a>
    <a href="https://github.com/me50/dearestalexander/tree/d8c4b2d1d12f4e8a198be527d7461d13720724c1" target="_blank">filter (less)</a>
    <a href="https://github.com/me50/dearestalexander/tree/10a6f8126d2e2fae73730682f6d404a73da5a4e4" target="_blank">recover</a>
  </div>
</div>