---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'blogroll.njk'
main__class: main-articles
---

<ul role="list" class="blog-grid">

{%- for article in collections.article | reverse -%}
  <li class="flow blog-card">
      <article class="flow" aria-labelledby="{{article.data.title}}">
      <h3 id="{{article.data.title}}">{{ article.data.title }}</h3>
      <img src="{{ article.data.image }}" alt=""/>
      <p>by <span>{{ article.data.author }}</span> on <span>{{ article.data.date | postDate }}</span></p>
      <p>{{ article.data.description }}</p>
      <a href="{{ article.url }}">Continue reading</a>
    </article>
  </li>
{%- endfor -%}

</ul>