---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'template-about.njk'
---

  {%- for about in collections.about | reverse -%}
    {{ about.data.title}}
    {{ content | safe }}
  {%- endfor -%}