---
title: Alex Roan - Home
layout: 'base.njk'
---

<div class="posts__frame">
  <article>
    <h2>Recent highlights</h2>
    <ul class="ul--recent">
      <li>August '24
        <ul>
          <li>I added a new web page to track my studies <a href="https://www.alexroan.com/fcc/code">in programming</a></li>
        </ul>
      </li>
      <li>June '24
        <ul>
          <li>I <a href="https://www.linkedin.com/posts/activity-7209203691155775488-mmmA?utm_source=share&utm_medium=member_desktop" target="_blank">posted</a> about frameworks to help structure transformation programs</li>
          <li>I <a href="https://www.linkedin.com/posts/activity-7206637113411334144-cQ86?utm_source=share&utm_medium=member_desktop" target="_blank">posted</a> about gathering information for transformation projects</li>
          <li>I wrote an in depth <a href="https://www.linkedin.com/pulse/how-assess-operations-part-1-alexander-roan-jouxc/?trackingId=32g0W05z3RqD3%2FdSc4hVdg%3D%3D" target="_blank">guide</a> to assessing an organisations operations</li>
        </ul>
      </li>
      <li>March '24
        <ul>
          <li>I created a <a href="https://raw.githack.com/dearestalexander/RWBQuickRef/main/rwb.html" target="_blank">quick reference</a> for the Responsive Web Design course by freeCodeCamp.</li> 
        </ul>
      </li>
      <li>August '23 to March '24
        <ul>
          <li>I worked with a global recruitment company on the assessment of the operations of potential acquisitions</li>
          <li>I travelled around Asia including Tokyo, Bangkok, DaNang, Kuala Lumpur and Singapore</li>
          <li>I studied VBA, HTML, CSS and  JavaScript.</li>
        </ul>
      </li>
      <li>June '22 to July '23
        <ul>
          <li>I moved back to the Scottish Highlands and lived in the hills above Loch Ness</li>
          <li>I spent a year buying, fixing and selling classic cars, including a 1989 Renault Alpine GTA, 1985 Toyota Landcruiser HJ60, 1985 Toyota Celica Supra and 1978 Pontiac Firebird Trans Am.</li>
        </ul>
      </li>
      <li>September '20 to  '22
        <ul>
          <li>I led the global design and pilot implementation of SAP S/4HANA Central Finance and CO-PA for a global consumer goods company.</li>
        </ul>  
      </li>
    </ul>
  </article>

  <div class="divider-two"></div>

  <h2>Posts: Featured</h2>
  <ul class="ul--plain">
    {%- for featured in collections.featured | reverse -%}
      <li class="li--plain">
        <article class="snippet__article">
          <h3 class="snippet__title">{{ featured.data.title }}</h3>
          <img class="snippet__image" src="{{ featured.data.image }}" />
          <p class="snippet__meta">by <span>{{ featured.data.author }}</span> on <span>{{ featured.data.date | postDate }}</span></p>
          <p class="snippet__description">{{ featured.data.description }}</p>
          <a class="snippet__link" href="{{ featured.url }}">Continue reading</a>
        </article>
      </li>
      <div class="divider-two"></div>
    {%- endfor -%}
  </ul>
</div>

