---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'template-page.njk'
---

<h1>Side projects</h1>
<h2 class="template-page--section-h2">Programming</h2>

<p>With the boom in frontend development, I found myself interested in modern-day HTML, CSS, and JavaScript. I worked through freeCodeCamp and moved onto the challenges on Frontend Mentor. Some of my progress and designs are linked below:</p>

<ul role="list">
  {%- for programming in collections.programming | reverse -%}

  <li class="template-page--grid">
    <article class="template-page--card flow" aria-labelledby="{{programming.data.title}}">
      <div class="flow">
        <p class="template-page--card-subtitle">{{ programming.data.title }}</p>
        <h1 class="template-page--card-title">{{ programming.data.subtitle }}</h1>
        <p>{{ programming.data.description }}</p>
        <p class="template-page--card-attribution">
          <span class="template-page--card-author">by {{ programming.data.author }}</span><span class="template-page--card-date">{{ programming.data.date | postDate }}</span></p>
      </div>
      <a href="{{ programming.url }}">
        <img class="template-page--card-img" src="{{ programming.data.image}}" alt="{{ programming.data.imageAlt }}" />
      </a>
    </article>
  </li>
  {%- endfor -%}
</ul>

<section class="flow">
<h2 class="template-page--section-h2">Classic cars</h2>
<p>While living back in the Highlands of Scotland in 2020-2022, I rekindled my interest in classic cars and spent time working on a few light projects.</p>
<p>Look, it's me wrestling the steering gearbox out of a MK3 Toyota Hilux in the depths of a snowy Highlands winter!</p>
<img src="../classics/assets/alexander-hilux-starter.jpg">
<p>Here are a list of the projects I worked on:</p>
<ul role="list">
  <li class="template-page--grid">
    <article class="template-page--card" aria-labelledby="">
      <div class="">
        <h1 class="template-page--card-title">1989 Renault Alpine GTA</h1> 
        <h2 class="template-page--card-subtitle">Work done:</h2>
        <ul>
          <li>Input manifold rebuilt</li>
          <li>New coolant hoses fitted</li>
          <li>Pedal assembly rebuilt</li>
          <li>Dashboard removed, restored, and refitted.</li>
        </ul>
      </div>
      <img src="../classics/assets/renaultalpinegta.jpg" alt="A picture of a Renault Alpine GTA" />
    </article>
  </li>
  <li class="template-page--grid">
    <article class="template-page--card" aria-labelledby="">
      <div class="">
        <h1 class="template-page--card-title">1985 Toyota Landcruiser HJ60</h1> 
        <h2 class="template-page--card-subtitle">Work done:</h2>
        <ul>
          <li>Engine oil changed and a new filter fitted</li>
          <li>Rear suspension bushes replaced.</li>
        </ul>
      </div>
      <img src="../classics/assets/landcruiser.jpg" alt="A picture of a Toyota Landcruiser" />
    </article>
  </li>
  <li class="template-page--grid">
    <article class="template-page--card" aria-labelledby="">
      <div class="">
        <h1 class="template-page--card-title">1997 Toyota Hilux (MK3)</h1> 
        <h2 class="template-page--card-subtitle">Work done:</h2>
        <ul>
          <li>Chassis, inner wings, and bulkhead restored</li>
          <li>Front swivels rebuilt (all bushes, seals, grease, etc.)</li>
          <li>Steering gearbox rebuilt</li>
          <li>Engine oil changed and new filter fitted.</li>
        </ul>
      </div>
      <img src="../classics/assets/toyotahilux.jpg" alt="A picture of a Toyota Hilux" />
    </article>
  </li>
  <li class="template-page--grid">
    <article class="template-page--card" aria-labelledby="">
      <div class="">
        <h1 class="template-page--card-title">1985 Toyota Celica Supra</h1> 
        <h2 class="template-page--card-subtitle">Work done:</h2>
        <ul>
          <li>Engine oil changed and a new filter fitted</li>
          <li>Alloy wheels refurbished</li>
        </ul>
      </div>
      <img src="../classics/assets/celicasupra.jpg" alt="A picture of a Toyota Celica Supra" />
    </article>
  </li>
  <li class="template-page--grid">
    <article class="template-page--card" aria-labelledby="">
      <div class="">
        <h1 class="template-page--card-title">1978 Pontiac Firebird Trans Am</h1> 
        <h2 class="template-page--card-subtitle">Work done:</h2>
        <ul>
          <li>Engine oil changed and a new filter fitted</li>
          <li>Automatic gear box oil changed, a new filter and new seal fitted</li>
          <li>Rear diff oil changed and new seals fitted</li>
          <li>Windscreen wiper motor rebuilt</li>
          <li>Brake system overhauled.</li>
        </ul>
      </div>
      <img src="../classics/assets/pontiacfirebirdtransam.jpg" alt="A picture of a Pontiac Firebird" />
    </article>
  </li>
</ul>
</section>

<h2 class="template-page--section-h2">Teching English as a foreign language</h2>

</p>Lately, I've been interested in improving my writing. I've also been thinking of ways to work in more countries.</p>

<p>Join these together, and I decided to start a basic qualification in teaching English as a foreign language (TEFL).</p>

<p>I've always found that writing is a good way to consolidate learning, so I've created a blog about TEFL. I'll be sharing what I learn, as well as trying to capture some consulting perspectives on TEFL.</p>

<p>My first blog post is on <a href="https://overthinkingtefl.wordpress.com/2025/05/16/hello-world/">teaching methods</a>.</p>

<h2 class="template-page--section-h2">Photography</h2>

<p>My photography is over on my <a href="https://sodenoshirayuki.com/">personal blog page</a>.</p>