---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'static-page-layout.njk'
---

<h2 class="more-heading">Programming</h2>

<ul class="more-ul" role="list">
  {%- for programming in collections.programming | reverse -%}
  <li class="more-grid">
    <article class="more-card" aria-labelledby="{{programming.data.title}}">
      <div class="more-card-left flow">
        <h2>{{ programming.data.title }}</h2> 
        <h3>{{ programming.data.subtitle }}</h3>
        <p>{{ programming.data.description }}</p>
        <p class="card__attribution"><span class="card__author">by {{ programming.data.author }}</span><span>{{ programming.data.date | postDate }}</span></p>
      </div>
      <a class="more-card-right" href="{{ programming.url }}">
        <img src="{{ programming.data.image}}" alt="{{ programming.data.imageAlt }}" />
      </a>
    </article>
  </li>
  {%- endfor -%}
</ul>

<h2 class="more-heading">Classic cars</h2>

Under construction...  will be updated soon...  (I was last here 09/06/25)

<h2 class="more-heading">Teching English as a foreign language</h2>

Under construction... will be updated soon..  (I was last here 09/06/25)

<h2 class="more-heading">Photography</h2>

Under construction... will be updated soon..  (I was last here 09/06/25)