---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'content.njk'
main__class: main-all
---

<div class="posts__frame">
  <ul class="ul--plain">
    {%- for post in collections.post | reverse -%}
      <li class="li--plain">
        <article class="snippet__article">
          <h2 class="snippet__title">{{ post.data.title }}</h2>
          <img class="snippet__image" src="{{ post.data.image }}" />
          <p class="snippet__meta">by <span>{{ post.data.author }}</span> on <span>{{ post.data.date | postDate }}</span></p>
          <p class="snippet__description">{{ post.data.description }}</p>
          <a class="snippet__link" href="{{ post.url }}">Continue reading</a>
        </article>
      </li>
      <div class="divider-two"></div>
    {%- endfor -%}
  </ul>
</div>