---
title: Business and technology transformation
titletwo: ~ by Alex Roan
layout: 'static-page-layout.njk'
---

<article id="services" class="flow">
  <h1>Services</h2>
  <p>The following list summarises the different roles and responsibilities I can take on categorised by change program types that I have experience in.</p>
  <div class="services__grid">
    <img class="services__img" 
      src="{{ '/assets/images/services/gbs.jpg' | url }}">
    <ul>
      <li>Design of global business services and shared services organisations. This includes organisation model, processes and systems</li>
      <li>Improvement of global business services and shared services organisations</li>
      <li>Developing business cases for shared services</li>
      <li>Leading the transition of work to shared services</li>
      <li>Process and systems improvement projects within a shared service environment</li>
      <li>Outsourcing partner selection. The creation of requests for information, requests for proposal and the management of the evaluation and selection process.</li>
    </ul>
  </div>
  <div class="services__grid">
    <img class="services__img" 
      src="{{ '/assets/images/services/strategy.jpg' | url }}">
    <ul>
      <li>Leading the development of strategic plans including 3 and 5-year plans</li>
      <li>Leading the development of annual plans</li>
      <li>Leading future operating model design for finance functions</li>
      <li>Leading future operating model design for shared services</li>
      <li>Building the business case and financial model for transformation.</li>
    </ul>
  </div>
  <div class="services__grid">
    <img class="services__img" 
      src="{{ '/assets/images/services/ffe.jpg' | url }}">
    <ul>
      <li>Developing finance maturity models</li>
      <li>Leading and improving financial closing and annual report creation</li>
      <li>Leading the design and implementation of fast close</li>
      <li>Leading process and systems improvements as a process owner of record to report</li>
      <li>Leading process and systems improvements as a process owner for purchase to pay</li>
      <li>Leading process & systems improvements as a process owner for cost accounting</li>
      <li>Applying lean and six sigma to finance processes</li>
      <li>Modelling finance processes. This includes deep knowledge of BPMN.</li>
    </ul>
  </div>
  <div class="services__grid">
    <img class="services__img" 
      src="{{ '/assets/images/services/sysdev.jpg' | url }}">
    <ul>
      <li>Design of business applications architecture</li>
      <li>Project management of business systems implementation</li>
      <li>Expert in requirements gathering, fit-gap analysis, solutions development, testing, training and production start up</li>
      <li>Leading custom development of stand alone systems</li>
      <li>Design of IT service management processes. Experienced with ITIL and COBIT</li>
      <li>Design and management of IT outsourcing agreements.</li>
    </ul>
  </div>
  <div class="services__grid">
    <img class="services__img" 
      src="{{ '/assets/images/services/erp.jpg' | url }}">
    <ul>
      <li>Defining ERP / business application strategy and application architecture</li>
      <li>SAP ERP implementation (multiple full lifecycles)</li>
      <li>Configuration of SAP ERP systems</li>
      <li>Leading custom development within ERP systems.</li>
    </ul>
  </div>
  <div class="services__grid">
    <img class="services__img" 
      src="{{ '/assets/images/services/process.jpg' | url }}">
    <ul>
      <li>Development of process decomposition frameworks / process taxonomies</li>
      <li>Detailed process modelling down to task level with BPMN</li>
      <li>Application of Lean and Six Sigma improvement methodologies to various processes</li>
      <li>Authoring process manuals, task descriptions, roles and responsbilities etc.</li>
    </ul>
  </div>
    <div class="services__grid">
    <img class="services__img" 
      src="{{ '/assets/images/services/pai.jpg' | url }}">
    <ul>
      <li>Leading large scale post acquisition integration projects; including commercial integration (trade terms, pricing), people integration, business systems integration, process alignment / harmonization</li>
      <li>Leading design and implementation of carveouts</li>
    </ul>
  </div>
  <div class="services__grid">
    <img class="services__img" 
      src="{{ '/assets/images/services/commercial.jpg' | url }}">
    <ul>
      <li>Business development in a consulting environment</li>
      <li>Economic and market analysis (pricing, competitors etc.) for strategy projects</li>
      <li>Leading the successful response to requests for proposal</li>
      <li>Creation of requests for proposal</li>
      <li>Design and management of transition services agreements</li>
      <li>Assisting legal teams with contract creation (providing functional expertise).</li>
    </ul>
  </div>
  <div class="services__grid">
    <img class="services__img" 
      src="{{ '/assets/images/services/change.jpg' | url }}">
    <ul>
      <li>Leading transformation programs with executive committees</li>
      <li>Development and implementation of people impact assessments and communication plans</li>
      <li>Using change tools with stakeholder groups, customer groups and user groups (e.g. voice of the customer, Prosci ADKAR).</li>
    </ul>
  </div>
</article>