:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1500,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6331rem, 0.6559rem + -0.0243vw, 0.651rem);
  --step--1: clamp(0.7813rem, 0.7642rem + 0.085vw, 0.844rem);
  --step-0: clamp(0.9375rem, 0.8867rem + 0.2542vw, 1.125rem);
  --step-1: clamp(1.125rem, 1.0234rem + 0.508vw, 1.4996rem);
  --step-2: clamp(1.35rem, 1.174rem + 0.88vw, 1.999rem);
  --step-3: clamp(1.62rem, 1.3367rem + 1.4165vw, 2.6647rem);
  --step-4: clamp(1.944rem, 1.5079rem + 2.1803vw, 3.552rem);
  --step-5: clamp(2.3328rem, 1.6814rem + 3.257vw, 4.7348rem);
  --step-6: clamp(2.7994rem, 1.8469rem + 4.7622vw, 6.3115rem);
  --step-7: clamp(3.3592rem, 1.9887rem + 6.8529vw, 8.4132rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1500,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.2331rem + 0.0847vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4831rem + 0.0847vw, 0.5625rem);
  --space-xs: clamp(0.6875rem, 0.6367rem + 0.2542vw, 0.875rem);
  --space-s: clamp(0.9375rem, 0.8867rem + 0.2542vw, 1.125rem);
  --space-m: clamp(1.4375rem, 1.3697rem + 0.339vw, 1.6875rem);
  --space-l: clamp(1.875rem, 1.7733rem + 0.5085vw, 2.25rem);
  --space-xl: clamp(2.8125rem, 2.66rem + 0.7627vw, 3.375rem);
  --space-2xl: clamp(3.75rem, 3.5466rem + 1.0169vw, 4.5rem);
  --space-3xl: clamp(5.625rem, 5.3199rem + 1.5254vw, 6.75rem);

  /* --color-red: #EB0A1E; */
  --color-red: #C14B48;
  --color-slideslightblue: #49637C;
  --color-slidesdarkblue: #304C6A;
  --color-beige: #FBF8F1;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #58595B;
  --color-lightgrey: #f6f6f6;
  --color-lightyellow: #f1be32;
  --font-family: "Noto Sans", sans-serif;
  --font-family-logo: "Pacifico", cursive; 
  --font-family-headings:  "Quattrocento Sans", sans-serif;
  --gutter: var(--space-s);
  --border-radius: var(--step-1);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.02ch;
  --tracking-s: -0.075ch;
}

/*===================
------ RESET --------
===================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, ul, ol {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
}

button, input, label {
  line-height: 1.5;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/*==========================
------ GLOBAL DESIGN -------
==========================*/
body {
  background: var(--color-lightgrey);
  font-size: var(--step-0);
  font-family: var(--font-family);
  letter-spacing: var(--tracking);
  margin: auto;
}

h1, h2, h3, h4 {
  letter-spacing: var(--tracking-s);
  font-family: var(--font-family-headings);
  color: var(--color-grey);
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

p {
  color: var(--color-grey);
}

ol, ul {
  color: var(--color-grey);
}

a {
  text-decoration: none;
  color: var(--color-grey);
}

.divider {
  width: 100%;
  margin: auto;
  border: 1px solid var(--color-grey);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}

pre {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--step--1);
  border: 1px solid #d8dce3;
  border-radius: 10px;
  margin: var(--space-s) auto;
  padding: 1rem;
  background-color: #f0f2f5;
  overflow-x: auto; /* Allow horizontal scrolling for long lines */
}


/*=============================
------ RE-USABLE CLASSES ------
=============================*/
.flow > * + * {
  margin-top: var(--space-l, 1em);
}

.flow--small > * + * {
  margin-top: var(--space-s, 0.5em);
}

.hide {
  display:none;
}

/*==========================
------ HEADER STYLING ------
==========================*/

.skip {
  position: absolute;
  left: 0px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header-ctr {
  display:flex;
  justify-content: space-between;
  background-color: var(--color-lightgrey);
}

.logo-ctr {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: var(--font-family-logo);
}

.logo-span-one {
  display: inline;
  font-size: var(--step-3);
  padding: 0.8em 0.1em 0.1em 0.8em;
  margin: 0.5em 0.1em 0em 2vw;
  background-color: var(--color-red);
  color: var(--color-lightgrey);
}

.logo-span-two {
  font-size: var(--step-2);
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-l);
  padding: var(--space-l);
  margin-right: var(--space-m);
  font-family: var(--font-family-logo);
}

.nav-li {
  text-decoration: none;
}

.nav-li:hover {
  border-bottom: 3px solid var(--color-red);
}

/*=======================
------ MAIN LAYOUT ------
=======================*/

.divider {
  width: 100%;
  border: 1px solid var(--color-slideslightblue);
}

.main {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 95vw;
}

/*-- posts - filter --*/

.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-intro-text {
  max-width: 65ch;
  font-size: var(--step-1);
  font-style: italic;
  border-left: 4px solid var(--color-red); /* adjust color */
  padding-left: 1rem;
  margin: 3rem auto; 
}

.posts-ftr {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--step--1);
}

.select-ctr {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  gap: var(--space-s);
}

.hashtag-select, .date-select {
  /* Remove default browser styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Basic styling */
  width: 20ch;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: var(--step--1);
  color: #333;

  /* Add a custom arrow (example using a background image) */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

/*-- posts - cards --*/

.region-cards {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.card-grid {
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 2vw;
}

.card {
  flex-shrink: 0;
  list-style-type: none;
  width: min(100ch, 90%);
  padding: 1rem;
  color: black;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgrey);
  box-shadow: 5px 10px 10px 0px hsl(0, 0%, 80%);
}

.card-inner {
  display: flex;
  flex-direction: column;
}

.card-contents {
  display: flex;
  flex-direction: row;
}

.card-title {
  font-size: var(--step-1);
}

.card-img {
  max-width: 30ch;
  padding: 1rem;
}

.card-att {
    display: inline-block;
    font-size: var(--step--1);
}

.card-date {
  background-color: var(--color-black);
  color: var(--color-lightgrey);
  border: 1px solid var(--color-black);
  padding: 0.5rem;
  margin: 0;
}

.card-auth {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
  padding: 0.5rem;
  margin: 0;
}

.card-tag {
  font-size: var(--step--1);
}

.card-proj,
.card-subproj {
  background-color: var(--color-white);
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
  padding: 0.2rem;
  margin: 0;
}

/*--- projects ---*/

.layout-projects {
  margin-top: var(--space-l); 
  display: grid;
  grid-template-columns: 15ch 15ch 1fr;
  gap: 1rem;
  align-self:first baseline;
  margin-left: 0.5rem;
  max-width: 95vw;
}

.proj-menu-ctr,
.subproj-menu-ctr {
  padding: 0.5rem;
}

.project-grid {
  border-left: 1px solid var(--color-lightgrey);
}

.project-menu-title {
  border-bottom: 1px solid var(--color-grey);
  color: var(--color-grey);
  font-size: var(--step--1);
  list-style-type:none;
}

.project-menu-item, .subproject-menu-item {
  list-style-type: none;
  list-style-position: outside;
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  transform: skew(-5deg);
  padding: 0.1rem 0.3rem;
  font-size: var(--step--1);
  margin: 0.6rem auto;
  box-shadow: 2px 4px 4px 0px hsl(0, 0%, 80%);
}

.project-menu-item:hover, .subproject-menu-item:hover {
  cursor:pointer;
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
  color: var(--color-lightgrey);
}

.project-menu-selected {
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
  color: var(--color-lightgrey);
}

.project-card {
  list-style-type: none;
  width: min(100ch, 95%);
  padding: 1rem;
  margin-left: 3rem;
  color: black;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgrey);
  box-shadow: 5px 10px 10px 0px hsl(0, 0%, 80%);
}


/*==================
------ POSTS -------
===================*/

html {
  scroll-padding-top: 150px;  /* match your header height */
  scroll-behavior: smooth;   /* optional, for nicer scrolling */
}

.post-main {
  display: grid;
  grid-template-columns: 30ch 1fr;
  padding-top: 1rem;
}

#post-sidebar-toc-ctr {
  padding: 1rem;
  position: sticky;
  top: 0;
  align-self: start;
  overflow: auto;
  max-height: calc(100vh - 2rem);
}

.post-toc-back-link,
.post-toc-title {
  font-size: var(--step--1);
  margin-left: 0.5rem;
  list-style-type:none;
}

.post-toc-title {
  border-bottom: 1px solid var(--color-grey);
  color: var(--color-grey);
}

.post-toc-item {
  list-style-type: none;
  font-size: var(--step--1);
  padding: 0.1rem 0.3rem;
  margin-right: 0.5rem;
}

.post-toc-item-l2 {
  margin-left: 0.5rem;
}

.post-toc-item-l3 {
  margin-left: 1rem;
}

.post-toc-item-l4 {
  margin-left: 1.5rem;
}

.post-toc-item-l5 {
  margin-left: 2rem;
}

.post-toc-item-light {
  border: 1px solid var(--color-lightgrey);
  border-left: 1px solid var(--color-grey);
  background-color: var(--color-lightgrey);
  color: var(--color-grey);
}

.post-toc-item:hover {
  border: 1px solid var(--color-grey);
}

.anchor-text-light {
  color: var(--color-lightgrey);
}

.post-toc-item-dark {
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
  color: var(--color-white);
}

.anchor-text-dark {
  color: var(--color-grey);
}

.post-article,
.page-article {
  max-width: min(80ch, 90vw);
  background-color: var(--color-white);
  padding: 3rem;
  margin: auto;
  overflow-wrap: break-word; /* Prevent long words from causing overflow */
}

.post-att,
.post-tag {
  display: inline;
  margin-top: 0;
  padding-top: 0;
  font-style: italic;
}

.post-article h1,
.page-article h1 {
  line-height: 1.2;
}

.post-article h2,
.page-article h2 {
  margin-top: var(--space-l);
  margin-bottom: var(--space-2xs);
  line-height: 1.2;
}

.post-article h3,
.page-article h3 {
  margin-top: var(--space-m);
  margin-bottom: var(--space-3xs);
  line-height: 1.2;
}

.post-article h4,
.page-article h4 {
  margin-top: var(--space-s);
  margin-bottom: var(--space-3xs);
  line-height: 1.2;
}

.post-article p,
.page-article p {
  margin-bottom: var(--space-s);
}

.post-article ul, 
.post-article ol,
.page-article ul,
.page-article ol {
  margin-bottom: var(--space-s);
  padding-left: var(--space-s);
  list-style-position: outside;
  list-style-type: disc;
}

.post-article img,
.page-article img {
  display: block; 
  max-width: 100%;
  border: 1px solid var(--color-black);
  margin: var(--space-m) auto;
}

.post-article a,
.page-article a {
  text-decoration: underline;
  color: var(--color-red);
}

.post-comments,
.page-comments {
  border-top: 1px solid grey;
  margin-top: 4rem;
  padding-top: 4rem;
}

#cusdis_thread iframe {
  min-height: 600px;
  width: 100% !important; /* Ensure full width */
}


/*=============
-----ABOUT-------
=============*/

.region__news {
  background-color: var(--color-black);
  color: var(--color-lightgrey);
  padding-left: 2vw;
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.region__news h1,
.region__news h2,
.region__news h3,
.region__news p {
  color: var(--color-lightgrey);
}

.region__news ul ul {
  padding-left: 1.5em;
  list-style-type: square;
  color: var(--color-lightgrey);
}

.region__news__text {
  max-width: min(65ch, 95%);
  flex: 3;
}


/*===================
------ FOOTER -------
=====================*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-lightgrey);
  color: var(--color-grey);
  margin-top: 100vh;
  height: 10rem;
}

.footer-attribution {
  display: inline-block;
  margin: auto;
  color: var(--color-grey);
  font-size: var(--step--1);
  text-align: center;
  max-width: 95vw;
}

/*==========================
------ Tablet/mobile -------
==========================*/

@media (max-width: 768px) {
  .nav-ul {
    flex-direction: column;
    gap: 0;
    padding: 0.2rem 1rem;
    margin: auto;
  }

  .select-ctr {
    flex-direction: column;
  }

  .card-contents {
    flex-direction: column;
  }

  .layout-projects {
    grid-template-columns: 1fr;
  }

  .project-grid {
    border: none;
  }

  .project-card {
    margin: auto;
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .post-main {
    grid-template-columns: 1fr;
  }

  .post-article,
  .page-article {
  padding: 1rem;
}

.post-article ul, 
.post-article ol,
.page-article ul,
.page-article ol {
  padding-left: 1em;
}

.post-article ul ul,
.page-article ul ul {
  padding-left: 1em;
}

  #post-sidebar-toc-ctr {
    position: static;
    max-height: 100%;
    margin-bottom: 2rem;
  }
}