/*======================
------ VARIABLES -------
======================*/

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1500,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6331rem, 0.6559rem + -0.0243vw, 0.651rem);
  --step--1: clamp(0.7813rem, 0.7642rem + 0.085vw, 0.844rem);
  --step-0: clamp(0.9375rem, 0.8867rem + 0.2542vw, 1.125rem);
  --step-1: clamp(1.125rem, 1.0234rem + 0.508vw, 1.4996rem);
  --step-2: clamp(1.35rem, 1.174rem + 0.88vw, 1.999rem);
  --step-3: clamp(1.62rem, 1.3367rem + 1.4165vw, 2.6647rem);
  --step-4: clamp(1.944rem, 1.5079rem + 2.1803vw, 3.552rem);
  --step-5: clamp(2.3328rem, 1.6814rem + 3.257vw, 4.7348rem);
  --step-6: clamp(2.7994rem, 1.8469rem + 4.7622vw, 6.3115rem);
  --step-7: clamp(3.3592rem, 1.9887rem + 6.8529vw, 8.4132rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1500,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.2331rem + 0.0847vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4831rem + 0.0847vw, 0.5625rem);
  --space-xs: clamp(0.6875rem, 0.6367rem + 0.2542vw, 0.875rem);
  --space-s: clamp(0.9375rem, 0.8867rem + 0.2542vw, 1.125rem);
  --space-m: clamp(1.4375rem, 1.3697rem + 0.339vw, 1.6875rem);
  --space-l: clamp(1.875rem, 1.7733rem + 0.5085vw, 2.25rem);
  --space-xl: clamp(2.8125rem, 2.66rem + 0.7627vw, 3.375rem);
  --space-2xl: clamp(3.75rem, 3.5466rem + 1.0169vw, 4.5rem);
  --space-3xl: clamp(5.625rem, 5.3199rem + 1.5254vw, 6.75rem);

  --color-red: #EB0A1E;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #58595B;
  --color-lightgrey: #f6f6f6;
  --color-lightyellow: #f1be32;
/*  --font-family: "Manrope", sans-serif;
  --font-family-alt: "EB Garamond", sans-serif; */
  --font-family: "EB Garamond", serif;
  --font-family-alt: "Pacifico", cursive; 
  --gutter: var(--space-s);
  --border-radius: var(--step-1);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.02ch;
  --tracking-s: -0.075ch;
}

/*===================
------ RESET --------
===================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, ul, ol {
  margin: 0;
  padding: 0;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.5;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/*==========================
------ GLOBAL DESIGN -------
==========================*/
body {
  color: var(--color-grey);
  background: var(--color-white);
  font-size: var(--step-1);
  font-family: var(--font-family);
  letter-spacing: var(--tracking);
  margin: auto;
}

h1, h2, h3, h4 {
  letter-spacing: var(--tracking-s);
  font-family: "Quattrocento Sans", sans-serif;
}

h1 {
  font-size: var(--step-3);
  /* font-family: var(--font-family-alt); */
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

[role="list"] {
  padding: 0;
}

a {
  color: currentColor;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

.divider {
  width: 100%;
  margin: 0;
  border: 1px solid var(--color-grey);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}


/*=============================
------ RE-USABLE CLASSES ------
=============================*/
/* flex wrap */
.flex {
  display: flex;
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flow > * + * {
  margin-top: var(--space-l, 1em);
}

.flow--small > * + * {
  margin-top: var(--space-s, 0.5em);
}

.hide {
  display:none;
}

.inline {
  display: inline;
}


/*==========================
------ HEADER STYLING ------
==========================*/
.skip {
  position: absolute;
  left: 0px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header__container {
  align-items: baseline;
  padding-bottom: var(--space-m);
  background-color: var(--color-lightgrey);
  font-family: var(--font-family-alt);
}

.header__span-one {
  display: inline;
  font-size: var(--step-5);
  padding: 0.8em 0.1em 0.1em 0.8em;
  margin: 0.5em 0.1em 0em 2vw;
  background-color: var(--color-red);
  color: var(--color-lightgrey);
}

.header__span-two {
  font-size: var(--step-3);
}

/*===================
------ NAV BAR ------
===================*/
nav > ul {
  gap: var(--space-2xs);
  margin: var(--space-s) 0 var(--space-s) 2vw;
  flex-wrap: wrap;
  font-family: "Quattrocento Sans", sans-serif;
}

.btn-link {
  display: inline-block;
  background-color: var(--color-grey);
  color: var(--color-lightgrey);
  padding: 0.1em 0.5em;
  text-decoration: none;
}

.btn-link:hover {
  background-color: var(--color-red);
}


/*=======================
------ MAIN LAYOUT ------
=======================*/
.layout {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
}

.section__main-content {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 60%;
}

.region__sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
  background-color: white;
  padding: var(--space-m) 2vw;
}

.region__intro {
  color: var(black);
  padding-left: 2vw;
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.region__intro img {
  max-width: 80%;
  margin: auto;
  padding: 2em 0;
}

.region__news {
  background-color: var(--color-black);
  color: var(--color-lightgrey);
  padding-left: 2vw;
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.region__news__text {
  max-width: min(65ch, 95%);
  flex: 3;
  padding-bottom: 4em;
}

.region__news h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.region__news h2 {
  margin-top: 2em;
}

.region__news ul ul {
  padding-left: 1.5em;
  list-style-type:square;
}

.region__featured {
  background-color: var(--color-white);
  padding-left: 2vw;
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.region__featured > h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: black;
}

.region__featured__spotlight {
  margin: 2rem auto;
  max-width: 80%;
  padding: 2rem;
  color: black;;
  border: 1px solid var(--color-grey);
}

.region__featured__spotlight a {
  margin: 2rem auto;
  display: block;
}

.blog-grid {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(40ch, 1fr));
}

.blog-card {
  max-width: min(65ch, 95%);
  padding: 1rem;
  background-color: var(--color-lightgrey);
  color: black;;
  border: 1px solid var(--color-grey);
}

.blog-card h1 {
  font-size: var(--step-2);
}

.blog-card a {
  color: var(--color-red);
}

.region__cta {
  color: var(black);
  padding-left: 2vw;
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.region__cta form {
  margin: 2em 0;
}

.region__cta label {
  display: block;
}

.region__sidebar h1 {
  font-size: var(--step-2);
}

.region__sidebar h1 {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: black;
}

.socials {
  flex-direction: column;
  font-size: var(--step-2);
}

.socials p {
  display: inline;
  padding-left: 0.5em;
}

/*=============================
------ CONTENT PAGE -------
=============================*/
.region__posts {
  background-color: var(--color-white);
  padding-left: 2vw;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-m);
}

.region__posts > h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.region__posts > .blog-grid {
  padding-top: var(--space-m);
}

/*=============================
------ SINGLE POST PAGE -------
=============================*/
.single-post {
  max-width: min(65ch, 90vw);
  margin: auto;
  overflow-wrap: break-word; /* Prevent long words from causing overflow */
}

.single-post h1 {
  padding-top: var(--space-m);
  padding-bottom: 0;
  margin: 0;
}

.single-post h2 {
  padding-top: var(--space-m);
  padding-bottom: 0;
  margin: 0;
}

.single-post__attribution {
  margin-top: 0;
  padding-top: 0;
  font-style: italic;
}

.single-post ul {
  list-style-position: outside;
  padding-left: 1em;
}

.single-post ul ul {
  padding-left: 1.5em;
}

.single-post img {
  max-width: 100%;
}

.comments {
  border-top: 1px solid grey;
  margin-top: 4em;
  padding-top: 2em;
}

#cusdis_thread iframe {
  min-height: 600px;
  width: 100% !important; /* Ensure full width */
}

/*==========================
------ SERVICES PAGE -------
===========================*/
.services__grid {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  gap: var(--space-m);
  grid-auto-rows: auto;
  border: 1px solid var(--color-grey);
  padding: var(--space-m);
}

.services__img {
  align-self: start;
  margin: 0; /* Remove any default margin */
  display: block; /* Treat the image as a block-level element */
}


/*============================
------ EXPERIENCE PAGE -------
=============================*/


/*=============================
------ PROGRAMMING PAGE -------
==============================*/
.main--programming {
  display: flex;
  justify-content: center;
}

.main-article--programming h1 {
  padding: 1rem;
}

.grid--programming {
  display: grid;
  grid-template-columns: 40ch 40ch;
  gap: var(--space-m);
}

.card--programming {
  width: min(40ch, 90svw);
  border: 3px solid var(--color-grey);
  padding: 1rem;
  margin: 0 auto;
}

.card--programming p {
  font-size: 1rem;
  line-height: 1.4;
}

.card--programming .card__attribution {
  display: inline-block;
  border: 1px solid black;
}

.card--programming span {
  display: inline-block;
  padding: 0.5rem;
}

.card--programming .card__author {
  background-color: black;
  color: white;
}


/*===================
------ FOOTER -------
=====================*/
footer {
  background-color: var(--color-grey);
  color: var(--color-lightgrey);
  margin-top: var(--space-3xl);
  padding-top: var(--space-2xl);
}

footer label {
  padding-right: 1rem;
}

.contact,
.site-map {
  padding-left: 2vw;
}

.attribution {
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
}

.site-map ul {
  list-style-type: square;
  padding-left: 2rem;
}

input {
  width: 20ch;
}
textarea {
  display: block;
  width: 30ch;
}
button {
  display: block;
}





